// COLORS
$whiteColor: #faf8f8;
$blackColor: black;

$blueFirstChild: #008c9e;
$blueSecondChild: #00b2cb;

$greenFirstChild10: #6fb40a;
$redFirstChild10: #c54800;
$greenFirstChild20: #22a568;

$greenSecondChild10: #8ee80e;
$redSecondChild10: #ff5d00;
$greenSecondChild20: #2ad587;
